{% load static %}

<div class="container">
            <div class="login-content">
                <div class="login-logo">
                    {% if user.is_authenticated %}
                    <a href="{% url 'index' %}">
                        <img class="align-content" src="{% static 'images/logo.png' %}" alt="">
                    </a>
                    {% else %}
                    <a href="{% url 'users:login' %}">
                        <img class="align-content" src="{% static 'images/logo.png' %}" alt="">
                    </a>
                    {% endif %}
                </div>
            </div>
</div>
