{% extends "base_new.html" %}

{% block content %}



<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">

                <div class="login-form">
                    <form class ="post-form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="phone">휴대폰번호</label>
                                <input type="phone" class="form-control" placeholder="010-1234-5678" name="phone" id="phone">
                        </div>
                        <p class="info-msg mt10">
                            가입하실때 작성하신 휴대폰 번호를 입력해주세요.<br>
                            입력하신 휴대폰의 카톡 또는 문자로 가입하신 ID를 보내드립니다.
                        </p>
                        <button type="submit" class="btn btn-primary btn-flat m-b-15">아이디 찾기</button>
                        {% for message in messages %}
                            {{message}}
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>
{% endblock %}