{% extends "base_new.html" %}


{% block content %}



<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="container my-3">
                    <h4 style="color:white;" class="border-bottom pb-2 my-3">패스워드 초기화 이메일 전송 완료</h4>

                    <a href="{% url 'users:login' %}" class="btn btn-primary">처음으로</a>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock %}