{% extends "base_new.html" %}


{% block content %}



<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="container my-3">
                    <h4 style="color:white;" class="border-bottom pb-2 my-3">비밀번호 초기화 완료</h4>
                    <p style="color:white;" >비밀번호가 재설정되었습니다. 이제 로그인하세요!</p>
                    <a href="{% url 'users:login' %}" class="btn btn-primary">로그인</a>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock %}